// Assuming the SCSS file is globally applied
em {
    font-style: italic; // Italic for emphasis
    font-weight: bold; // Bold to make them stand out
    // Blue color for emphasis
  }
  
  i {
    font-style: italic; // Italic style
    color:#645beb; // Red color for italicized words
    font-weight: bold
  }
  